<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<body>
<header class="header">
    <div class="container">
        <div class="row-info">
            <div class="logo">
                <a href="#">
                    <img src="img/logo.png" alt="logo">
                </a>
            </div>
            <span class="tel">
                    <a href="tel:+38(063)7475668">+38 (063) 747 56 68</a>
                    <p class="city">г. Киев ул. Бориспольская, 19</p>
            </span>
        </div>
        <h1>ЗАКУПАЕМ <br> ЛОМ КАБЕЛЯ И ЦВЕТНЫХ МЕТАЛЛОВ</h1>
        <button class="btn">Оставить заявку</button>
        <i class="fas fa-angle-down"></i>
    </div>
</header>
<main>

    <section class="brand-section">
        <div class="container">
            <h2>Закупка лома</h2>
            <h3>цветных металлов</h3>
            <ul class="list-item">
                <li>
                    <div class="block-holder">
                        <img src="img/info-img-1.png">
                        <p class="block-text">Медь <br> <span>Производим закупку меди и медных отходов, невостребованных на производстве, таких как:
    медный шлак, медная стружка.</span></p>
                    </div>
                </li>
                <li>
                    <div class="block-holder">
                        <img src="img/info-img-2.png">
                        <p class="block-text">Медь <br> <span>Производим закупку меди и медных отходов, невостребованных на производстве, таких как:
    медный шлак, медная стружка.</span></p>
                    </div>
                </li>
                <li>
                    <div class="block-holder">
                        <img src="img/info-img-3.png">
                        <p class="block-text">Медь <br> <span>Производим закупку меди и медных отходов, невостребованных на производстве, таких как:
    медный шлак, медная стружка.</span></p>
                    </div>
                <li>
                    <div class="block-holder">
                        <img src="img/info-img-4.png">
                        <p class="block-text">Медь <br> <span>Производим закупку меди и медных отходов, невостребованных на производстве, таких как:
    медный шлак, медная стружка.</span></p>
                    </div>
                </li>
                <li>
                    <div class="block-holder">
                        <img src="img/info-img-5.png">
                        <p class="block-text">Медь <br> <span>Производим закупку меди и медных отходов, невостребованных на производстве, таких как:
    медный шлак, медная стружка.</span></p>
                    </div>
                </li>
                <li>
                    <div class="block-holder">
                        <img src="img/info-img-6.png">
                        <p class="block-text">Медь <br> <span>Производим закупку меди и медных отходов, невостребованных на производстве, таких как:
    медный шлак, медная стружка.</span></p>
                    </div>
                </li>
            </ul>
            <h2>ЗАКУПКА ЛОМА</h2>
            <h3>кабеля</h3>
            <div class="block-info">
                <img src="img/info-img-bottom.png">
                <div class="block-text-right">
                    <h4>Мы работаем со следующей
                        кабельной продукцией:</h4>
                    <p>— кабель силовой (со свинцовой, алюминиевой и ПВХ оболочкой)</p>

                    <p>— кабель контрольный (в резиновой
                        или полимерной изоляции)</p>
                    <p>— кабель связи (телефонные, коаксиальные , дальней связи, высокочастотные и т. д.)</p>
                    <p>— кабель и провода установочные и монтажные
                    <p>— провода обмоточные</p>
                    <p>— провода неизолированные </p>
                </div>
            </div>
        </div>
    </section>
    <section class="application">
        <div class="container">
            <form class="form">
                <input class="form-control" name="login" placeholder="Ваше имя">
                <input class="form-control" type="tel" name="tel" placeholder="Телефон">
                <input type="submit" class="btn-primary" value="ОФОРМИТЬ ЗАЯВКУ">
            </form>
        </div>
    </section>
    <section class="car">
        <div class="container">
            <h2>ЗАКАЗ МАШИНЫ</h2>
            <h3>и вывоз</h3>
            <img src="img/car.png">
            <div class="block-text-left">
                <p class="text-info">
                    Наша компания обладает собственным автопарком. Поэтому вы можете воспользоваться нашим услугами
                    по транспортировке вашего материала к нам
                    на базу. Есть несколько автомобилей с разной
                    грузоподъёмностью. Наши автомобили оснащены манипулятором. Автомобиль подаётся под погрузку со всеми
                    сопутствующими
                    документами(лицензия, ТТН, удостоверения радиационной и взрывобезопасности)
                </p>
                <h5>Вызов специалиста</h5>
                <p class="text-info">Наша организация всегда заботится
                    о максимальном комфорте клиентов. Любая наша сделка сопровождается квалифицированными оценщиками.
                    Они определят сортность вашего металла, определят степень его засоренности, помогут рассчитать
                    стоимость вашей партии металла
                    в зависимости от ее тоннажа и действующих
                    на сегодняшний день расценок.</p>
            </div>
        </div>
    </section>
    <section class="map">
        <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.9222413952743!2d30.696547015216296!3d50.423920379471674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c4c64aa2c83d%3A0xadfbc1089a37129e!2z0YPQuy4g0JHQvtGA0LjRgdC_0L7Qu9GM0YHQutCw0Y8sIDE5LCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1611353098229!5m2!1sru!2sua"
                width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
    </section>
</main>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <a class="logo" href="#">
                    <img src="img/logo2.png" alt="logo">
                </a>
                <p class="copyright">© 2017 ООО «Металлтренд» all rights are reserved</p>
            </div>
            <div class="contact">
                <h5>НАШИ КОНТАКТЫ</h5>
                <ul class="tel">
                    <li class="city">
                        <img src="img/maps-icon.png" alt="">
                        <div class="text">г. Киев,<br>
                            ул. Бориспольская, 19
                        </div>
                    </li>
                    <li class="city">
                        <img src="img/tel-icon.png" alt="">
                            <a href="tel:+38(063)7475668">+38 (063) 747 56 68</a>
                    </li>
                </ul>
            </div>
            <form class="form-footer">
                <input class="form-control" name="login" placeholder="Ваше имя">
                <input class="form-control" type="tel" name="tel" placeholder="Телефон">
                <input type="submit" class="btn-primary" value="ОФОРМИТЬ ЗАЯВКУ">
            </form>
        </div>
    </div>

</footer>

<script src="js/main.js"></script>
<script src="js/vendor.js"></script>

</body>
</div>
</html>
